<!-- <div class="page-header"> -->
	<h1><%= title %></h1>
	<hr/>
<!-- </div> -->

<div class="panel panel-success">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<!-- <div class="form-group"> -->
			<a href="/teams/create" class="btn btn-success btn-xs pull-right">
				<span class="glyphicon glyphicon-plus"></span> Create
			</a>
		<!-- </div> -->
		Teams
	</div>

	<table class="table table-striped table-hover table-responsive">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Country</th>
				<th>State</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% if(teams && teams.length >= 0){ %>

				<% for(var i in teams){ %>
					<%  var team = teams[i]; %>
					<tr>
						<td><%= team.id %></td>
						<td><%= team.name %></td>
						<td><%= team.country %></td>
						<td><%= team.state %></td>
						<td>
							<div class="btn-group btn-group-xs pull-right">
								<a data="/teams/edit/<%= team.id %>" class="btn btn-info">
									<span class="glyphicon glyphicon-edit"></span> Edit
								</a>
								<button type="button" data="/teams/delete/<%= team.id %>" data-toggle="modal" data-target="#action-delete" class="action-delete btn btn-danger">
									<span class="glyphicon glyphicon-trash"></span> Delete
								</button> 
							</div>
						</td>
					</tr>
				<% } %>
			<% }else{ %>
				<th>
					<td colspan="5">No team found</td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="action-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
			</div>
			<div class="modal-body">
				Are you shure that you want to delete this team?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a href="" id="action-delete-confirm" data="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Confirm Delete</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$('.action-delete').click(function () {
	$('#action-delete-confirm').attr('href', $(this).attr('data'));
});
</script>